

<!DOCTYPE html>
<html lang="en">
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Responsive Admin Template" />
    <meta name="author" content="SmartUniversity" />
    <!--new-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Adventure-@ViewBag.title</title>
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">

    <!-- icons -->
    <link href="~/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!--bootstrap -->
    <link href="~/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/summernote/summernote.css" rel="stylesheet">
    <!-- morris chart -->
    <link href="~/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
    <!-- Material Design Lite CSS -->
    <link rel="stylesheet" href="~/plugins/material/material.min.css">
    <link rel="stylesheet" href="~/Content/css/material_style.css">
    <!-- data tables -->
    <link href="~/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- animation -->
    <link href="~/Content/css/pages/animate_page.css" rel="stylesheet">
    <!-- Template Styles -->
    <link href="~/Content/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/theme-color.css" rel="stylesheet" type="text/css" />
    <!-- dropzone -->
    <link href="~/plugins/dropzone/dropzone.css" rel="stylesheet" media="screen">
    <!-- Date Time item CSS -->
    <link rel="stylesheet" href="~/plugins/material-datetimepicker/bootstrap-material-datetimepicker.css" />
    <!-- favicon -->
    <link rel="shortcut icon" href="~/images/img/favicon.ico" />
</head>

<!-- END HEAD -->
<body class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white dark-sidebar-color logo-dark">
    <div class="page-wrapper">
        <!-- start header -->

        <div class="page-header navbar navbar-fixed-top">
            <div class="page-header-inner ">
                <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
                    <div class="container">
                        @Html.ActionLink("Adventure", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="oi oi-menu"></span> Menu
                        </button>

                        <div class="collapse navbar-collapse" id="ftco-nav">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    @Html.ActionLink("主页", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                                </li>
                                <li class="nav-item">
                                    @Html.ActionLink("关于我们", "About", "Home", new { area = "" }, new { @class = "navbar-brand" })
                                </li>
                                <li class="nav-item">
                                    @Html.ActionLink("体验活动", "Index", "Activity", new { area = "" }, new { @class = "navbar-brand" })
                                </li>
                                <li class="nav-item">
                                    @Html.ActionLink("民宿", "Index", "Homestay", new { area = "" }, new { @class = "navbar-brand" })
                                </li>
                                <li class="nav-item">
                                    @Html.ActionLink("旅行故事", "Index", "Blog", new { area = "" }, new { @class = "navbar-brand" })
                                </li>
                                <li class="nav-item">
                                    @Html.ActionLink("联系我们", "Contact", "Home", new { area = "" }, new { @class = "navbar-brand" })
                                </li>
                                @if (Session["user_id"] == null)
                                {
                                    <li>
                                        @Html.ActionLink("登陆/注册", "Index", "Login", new { area = "" }, new { @class = "navbar-brand" })
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        @Html.ActionLink("心愿单", "Favourites", "Home", new { area = "" }, new { @class = "navbar-brand" })
                                    </li>

                                }
                            </ul>
                        </div>
                    </div>
                </nav>

            </div>
        </div>
        <!-- end header -->
        <!-- start page container -->
        <div class="page-container" style="margin-top:70px">
            <!-- start sidebar menu -->
            <div class="sidebar-container">
                <div class="sidemenu-container navbar-collapse collapse fixed-menu">
                    <div id="remove-scroll">
                        <ul class="sidemenu page-header-fixed p-t-20" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                            <li class="sidebar-toggler-wrapper hide">
                                <div class="sidebar-toggler">
                                    <span></span>
                                </div>
                            </li>
                            <li class="sidebar-user-panel">
                                <div class="user-panel">
                                    <div class="row">
                                        <div class="sidebar-userpic">
                                            <img src="@Session["head_icon"]" class="img-responsive" alt=""><!--icon placeholder-->
                                        </div>
                                    </div>
                                    <div class="profile-usertitle">
                                        <div class="sidebar-userpic-name" style="margin-top:20px">
                                            @Session["first_name"] @Session["last_name"]
                                        </div>
                                    </div>
                                    <div class="profile-usertitle">
                                        @{
                                            if ((int)Session["bonus_points"] < 20)
                                            {
                                                <div class="sidebar-userpic-name" style="margin-top:20px">
                                                    普通会员
                                                </div>
                                            }
                                            else if ((int)Session["bonus_points"] < 100)
                                            {
                                                <div class="sidebar-userpic-name" style="margin-top:20px">
                                                    尊享会员
                                                </div>
                                            }
                                            else if ((int)Session["bonus_points"] < 200)
                                            {
                                                <div class="sidebar-userpic-name" style="margin-top:20px">
                                                    白金会员
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="sidebar-userpic-name" style="margin-top:20px">
                                                    至尊会员
                                                </div>
                                            }
                                        }
                                    </div>
                                    <div class="sidebar-userpic-btn">
                                        <a class="tooltips" href="~/Login" data-placement="top" data-original-title="注销登陆">
                                            <i class="material-icons">input</i>
                                        </a>
                                    </div>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link nav-toggle">
                                    <i class="material-icons">business_center</i>
                                    <span class="title">民宿订单</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item">
                                        <a href="~/Admin/checkMyHOrder" class="nav-link ">
                                            <span class="title">查看我的民宿订单</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link nav-toggle">
                                    <i class="material-icons">flight_takeoff</i>
                                    <span class="title">体验订单</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item">
                                        <a href="~/Admin/checkMyAOrder" class="nav-link ">
                                            <span class="title">查看我的体验订单</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link nav-toggle">
                                    <i class="material-icons">vpn_key</i>
                                    <span class="title">房源</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item">
                                        <a href="/HomeStay/Release" class="nav-link ">
                                            <!--TODO-->
                                            <span class="title">发布房源</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/HomeStay/Special" class="nav-link ">
                                            <!--TODO-->
                                            <span class="title">增加房源特殊价格</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Admin/ViewHomestay" class="nav-link ">
                                            <span class="title">查看房源</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Admin/ViewHomestaySpecial" class="nav-link ">
                                            <span class="title">查看房源实例</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Admin/checkMyHomestayOrder" class="nav-link ">
                                            <span class="title">被预订的房源</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link nav-toggle">
                                    <i class="material-icons">map</i>
                                    <span class="title">体验</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item">
                                        <a href="/Activity/Publish" class="nav-link ">
                                            <span class="title">发布体验</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Admin/ViewActivity" class="nav-link ">
                                            <span class="title">查看我发布的体验</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Admin/ViewActivityInstance" class="nav-link ">
                                            <span class="title">查看体验实例</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Admin/checkMyActivityOrder" class="nav-link ">
                                            <span class="title">查看被预订的体验</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link nav-toggle">
                                    <i class="material-icons">library_books</i>
                                    <span class="title">故事</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item">
                                        <a href="/Blog/NewBlog" class="nav-link ">
                                            <span class="title">发布故事</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Admin/ViewBlog" class="nav-link ">
                                            <span class="title">查看故事</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="~/PersonInfo" class="nav-link nav-toggle">
                                    <i class="material-icons">account_circle</i>
                                    <span class="title">查看我的个人信息</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <!-- end sidebar menu -->
            
            @RenderBody()

        </div>
        <!-- end page container -->
        <!-- start footer -->
        <div class="page-footer">
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
            <footer class="ftco-footer ftco-bg-dark ftco-section" style="color:#FFFFFF">
                <div class="container">
                    <div class="row mb-5">
                        <div class="col-md">
                            <div class="ftco-footer-widget mb-4">
                                <h2 class="ftco-heading-2">Adventure</h2>
                                <p>我们是一家联系旅游人士和家有空房出租的房主的服务型网站，致力于为您提供多样的住宿信息和旅行方案</p>
                                <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                                    <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                                    <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                                    <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md" style="color:#FFFFFF">
                            <div class="ftco-footer-widget mb-4 ml-md-4">
                                <h2 class="ftco-heading-2">更多信息</h2>
                                <ul class="list-unstyled">
                                    <li>
                                        @Html.ActionLink("主页", "Index", "Home", new { area = "" }, new { @class = "py-2 d-block" })
                                    </li>
                                    <li>
                                        @Html.ActionLink("关于我们", "About", "Home", new { area = "" }, new { @class = "py-2 d-block" })
                                    </li>
                                    <li>
                                        @Html.ActionLink("体验活动", "Index", "Activity", new { area = "" }, new { @class = "py-2 d-block" })
                                    </li>
                                    <li>
                                        @Html.ActionLink("民宿", "Index", "Homestay", new { area = "" }, new { @class = "py-2 d-block" })
                                    </li>
                                    <li>
                                        @Html.ActionLink("旅行故事", "Index", "Blog", new { area = "" }, new { @class = "py-2 d-block" })
                                    </li>
                                    <li>
                                        @Html.ActionLink("联系我们", "Contact", "Home", new { area = "" }, new { @class = "py-2 d-block" })
                                    </li>
                                    @if (Session["user_id"] == null)
                                    {
                                        <li>
                                            @Html.ActionLink("登陆/注册", "Index", "Login", new { area = "" }, new { @class = "py-2 d-block" })
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            @Html.ActionLink("注销登陆", "Index", "Login", new { area = "" }, new { @class = "py-2 d-block" })
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="col-md" style="color:#FFFFFF">
                            <div class="ftco-footer-widget mb-4">
                                <h2 class="ftco-heading-2">友情链接</h2>
                                <ul class="list-unstyled">
                                    <li><a href="http://www.tongji.edu.cn" class="py-2 d-block">同济大学主页</a></li>
                                    <li><a href="http://sse.tongji.edu.cn" class="py-2 d-block">同济大学软件学院</a></li>
                                    <li><a href="http://www.airbnb.com" class="py-2 d-block">爱彼迎Airbnb</a></li>
                                    <li><a href="http://www.booking.com" class="py-2 d-block">缤客Booking</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="ftco-footer-widget mb-4">
                                <h2 class="ftco-heading-2">有任何疑问？</h2>
                                <div class="block-23 mb-3">
                                    <ul>
                                        <li><span class="icon icon-globe"></span><span class="text">上海市嘉定区曹安公路4800号 同济大学嘉定校区</span></li>
                                        <li><span class="icon icon-phone"></span><span class="text">86-21-69589585,69589332(FAX)</span></li>
                                        <li><a href="http://www.tongji.edu.cn"><span class="icon icon-globe"></span><span class="text">www.tongji.edu.cn</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <p>
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> Adventure, Tongji Uni. All rights reserved.
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end footer -->
    </div>

    <!-- start js include path -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/popper/popper.min.js"></script>
    <script src="~/plugins/jquery-blockui/jquery.blockui.min.js"></script>
    <script src="~/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- bootstrap -->
    <script src="~/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/Scripts/js/pages/sparkline/sparkline-data.js"></script>
    <!-- Common js-->
    <script src="~/Scripts/js/app.js"></script>
    <script src="~/Scripts/js/layout.js"></script>
    <script src="~/Scripts/js/theme-color.js"></script>
    <!-- data tables -->
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/js/pages/table/table_data.js"></script>
    <!-- material -->
    <script src="~/plugins/material/material.min.js"></script>
    <script src="~/Scripts/js/pages/material_select/getmdl-select.js"></script>
    <script src="~/plugins/material-datetimepicker/moment-with-locales.min.js"></script>
    <script src="~/plugins/material-datetimepicker/bootstrap-material-datetimepicker.js"></script>
    <script src="~/plugins/material-datetimepicker/datetimepicker.js"></script>
    <!-- dropzone -->
    <script src="~/plugins/dropzone/dropzone.js"></script>
    <script src="~/plugins/dropzone/dropzone-call.js"></script>
    <!-- animation -->
    <script src="~/Scripts/js/pages/ui/animations.js"></script>
    <!-- morris chart -->
    <script src="~/plugins/morris/morris.min.js"></script>
    <script src="~/plugins/morris/raphael-min.js"></script>
    <script src="~/Scripts/js/pages/chart/morris/morris_home_data.js"></script>
    <!-- end js include path -->
</body>
</html>

