
@{
    ViewBag.Title = "查看我的体验活动订单";
    Layout = "~/Views/Admin/Admin_Layout.cshtml";
}

<script>
    function deleteOrderedActivity(orderID) {
        var choice = confirm("是否确认删除该用户订单?提交后将不可更改。");//确认框。
        if (choice == true) {
            $.ajax({
                type: "post",
                url: "../Admin/CancelActivityOrder",
                data: {
                    orderID: orderID
                },
                async: false,
                dataType: 'json',
                success: function (d) {
                    var addState = d.isSuccess;
                    if (addState == true) {//登录成功
                        console.log(d);
                        window.location.href = "/Admin/checkMyAOrder";
                        alert("订单取消成功!");
                    }
                    else {
                        //登录失败
                        console.log(d);
                        alert(d.message);
                        window.location.href = "/Admin/checkMyAOrder";
                    }
                },
                error: function (a) {
                    console.log(a);
                    alert("订单取消失败!");
                }
            });
        }
    }
    function reviewCheck(orderID,productID) {
        $.ajax({
            type: "post",
            url: "../Admin/CheckComment",
            data: {
                orderID: orderID,
                accessWay:1
            },
            async: false,
            dataType: 'json',
            success: function (d) {//取消成功
                var reviewState = d.isSuccess;
                if (reviewState == true) {//登录成功
                    location.href = '~/Admin/Comment?orderID=' + orderID + "&accessWay=1&productID="+productID;
                } else {
                    alert(d.message);
                }
            },
            error: function (a) {
                console.log(a);
                alert("获取评论状态失败!");
            }
        });
    }
</script>

<!--start page content-->
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">查看民宿订单</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li>
                        <i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="/Home/Index">主页</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a class="parent-item" href="">民宿订单</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">所有订单</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-box">
                    <div class="card-head">
                        <header>所有订单</header>
                        <div class="tools">
                            <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                            <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                            <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="table-scrollable">
                            <table class="table table-hover table-checkable order-column full-width" id="example4">
                                <thead>
                                    <tr>
                                        <th class="center"> 订单号 </th>
                                        <th class="center"> 顾客ID </th>
                                        <th class="center"> 创建时间 </th>
                                        <th class="center"> 开始时间 </th>
                                        <th class="center"> 结束时间 </th>
                                        <th class="center"> 费用总额 </th>
                                        <th class="center"> 平台费用 </th>
                                        <th class="center"> 订单状态 </th>
                                        <th class="center"> 操作 </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (ViewBag.returnList != null)
                                        {
                                            for (int i = 0; i < ViewBag.returnList.Length; i++)
                                            {
                                                <tr class="odd gradeX">
                                                    <td class="center">@ViewBag.returnList[i].activity_order_id</td>
                                                    <td class="center">@ViewBag.returnList[i].customer_id</td>
                                                    <td class="center">@ViewBag.returnList[i].create_time.ToString("yyyy-MM-dd")</td>
                                                    <td class="center">@ViewBag.returnList[i].start_time.ToString("yyyy-MM-dd")</td>
                                                    <td class="center">@ViewBag.returnList[i].end_time.ToString("yyyy-MM-dd")</td>
                                                    <td class="center">@ViewBag.returnList[i].total_price</td>
                                                    <td class="center">@ViewBag.returnList[i].platform_fee</td>

                                                    @{ if (ViewBag.returnList[i].status == -2)
                                                        {
                                                            <td class="center">已取消</td>
                                                        }
                                                        else if (ViewBag.returnList[i].status == -1)
                                                        {
                                                            <td class="center">可取消</td>
                                                        }
                                                        else if (ViewBag.returnList[i].status == 0)
                                                        {
                                                            <td class="center">正在进行</td>
                                                        }
                                                        else
                                                        {
                                                            <td class="center">已完成</td>
                                                        }
                                                    }

                                                    <td class="center">
                                                        <a href="~/Activity/SingleActivity?productID=@ViewBag.returnList[i].activity_order_id" class="btn btn-tbl-edit btn-xs">
                                                            <i class="fa fa-exclamation-circle"></i>
                                                        </a>
                                                        <a onclick="reviewCheck(@ViewBag.returnList[i].activity_order_id)" class="btn btn-tbl-edit btn-xs">
                                                            <i class="fa fa-pencil"></i>
                                                        </a>
                                                        <a class="btn btn-tbl-delete btn-xs" onclick="deleteOrderedActivity(@ViewBag.returnList[i].activity_order_id)">
                                                            <i class="fa fa-trash-o "></i>
                                                        </a>
                                                    </td>

                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--end page content-->
