
@{
    ViewBag.Title = "查看我的房源";
    Layout = "~/Views/Admin/Admin_Layout.cshtml";
}
<script>
    function deleteHomestay(productID) {
        var choice = confirm("是否确认删除该房源?提交后将不可更改。");//确认框。
        if (choice == true) {
            $.ajax({
                type: "post",
                url: "../Admin/RemoveHomestay",
                data: {
                    productID: productID
                },
                async: false,
                dataType: 'json',
                success: function (d) {
                    var addState = d.isSuccess;
                    if (addState == true) {//登录成功
                        console.log(d);
                        window.location.href = "/Admin/ViewHomestay";
                        alert("删除成功!");
                    }
                    else {
                        //登录失败
                        console.log(d);
                        alert(d.message);
                    }
                },
                error: function (a) {
                    console.log(a);
                    alert("删除失败!");
                }
            });
        }
    }
</script>
<!-- start page content -->
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">查看房源</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li>
                        <i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="/Home/Index">主页</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a class="parent-item" href="">房源</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">查看房源</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-box">
                    <div class="card-head">
                        <header>查看房源</header>
                        <div class="tools">
                            <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                            <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                            <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="table-scrollable">
                            <table class="table table-hover table-checkable order-column full-width" id="example4">
                                <thead>
                                    <tr>
                                        <th class="center"> 民宿ID </th>
                                        <th class="center"> 民宿名称 </th>
                                        <th class="center"> 地理位置 </th>
                                        <th class="center"> 民宿种类 </th>
                                        <th class="center"> 默认价格 </th>
                                        <th class="center"> 查看详情 </th>
                                        <th class="center"> 操作 </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (ViewBag.homestayList != null)
                                        {
                                            for (int i = 0; i < ViewBag.homestayList.Length; i++)
                                            {
                                    <tr class="odd gradeX">
                                        <td class="center">@ViewBag.homestayList[i].homestay_id</td>
                                        <td class="center">@ViewBag.homestayList[i].homestay_name</td>
                                        <td class="center">@ViewBag.homestayList[i].address</td>
                                        <td class="center">@ViewBag.homestayList[i].homestay_type</td>
                                        <td class="center">@ViewBag.homestayList[i].default_price</td>
                                        <td class="center">
                                            <a href="/HomeStay/StayInfo?productID=@ViewBag.homestayList[i].homestay_id" class="btn btn-tbl-edit btn-xs">
                                                <i class="fa fa-exclamation-circle"></i>
                                            </a>
                                        </td>
                                        <td class="center">

                                            <a href="/HomeStay/EditHomestay?productID=@ViewBag.homestayList[i].homestay_id" class="btn btn-tbl-edit btn-xs">
                                                <i class="fa fa-pencil"></i>
                                            </a>

                                            <a href="#" class="btn btn-tbl-delete btn-xs" onclick="deleteHomestay(@ViewBag.homestayList[i].homestay_id)">
                                                <i class="fa fa-trash-o "></i>
                                            </a>
                                        </td>
                                    </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
    <!-- end page content -->

