
@{
    ViewBag.Title = "旅行故事";
}


@{ 
    var number = ViewBag.AllBlogs.Length;
    Random ran = new Random();
    int[] story = new int[3];

    for (int i = 0; i < 3; i++)// 循环生成
    {
        byte[] buffer = Guid.NewGuid().ToByteArray();//生成字节数组
        int iRoot = BitConverter.ToInt32(buffer, 0);//利用BitConvert方法把字节数组转换为整数
        Random rdmNum = new Random(iRoot);//以这个生成的整数为种子
        story[i] = rdmNum.Next(0, number);//生成大于大于a小于b的随机数（int）型
    }
}


<div class="hero-wrap js-fullheight" style="background-image: url(../../images/bg_1.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                    <span class="mr-2"> @Html.ActionLink("写下旅行故事", "NewBlog", "Blog")</span>
                    <span class="mr-2"> @Html.ActionLink("我的旅行故事", "ViewBlog", "Admin")</span>
                </p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">旅行故事</h1>
            </div>
        </div>
    </div>
</div>


<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2>Travel&amp; <strong>Stories</strong></h2>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            @{
                if (ViewBag.AllBlogs != null)
                {
                    if (number <= 10)
                    {
                        int all = 0;
                        if (number < 3)
                        {
                            all = number;
                        }
                        else
                        {
                            all = 3;
                        }

                        for (int i = 0; i < all; i++)
                        {
                            <div class="col-sm col-md-6 col-lg ftco-animate">
                                <div class="destination">
                                    <a href='../Blog/BlogDetail?BlogId=@ViewBag.AllBlogs[i].story_id' class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(@ViewBag.AllBlogs[i].pictures);">
                                        <div class="icon d-flex justify-content-center align-items-center">
                                            <span class="icon-link"></span>
                                        </div>
                                    </a>
                                    <div class="text p-3">
                                        <div class="d-flex">
                                            <div class="one">
                                                <h3>
                                                    <a href='../Blog/BlogDetail?BlogId=@ViewBag.AllBlogs[i].story_id'>
                                                        @ViewBag.AllBlogs[i].title
                                                    </a>
                                                </h3>
                                            </div>
                                        </div>
                                        <p><b>@ViewBag.AllBlogs[i].user_id</b></p>
                                        <hr>
                                        <p class="bottom-area d-flex">
                                            @ViewBag.AllBlogs[i].times
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        for (int i = 0; i < 3; i++)
                        {
                            <div class="col-sm col-md-6 col-lg ftco-animate">
                                <div class="destination">
                                    <a href='../Blog/BlogDetail?BlogId=@ViewBag.AllBlogs[story[i]].story_id' class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(@ViewBag.AllBlogs[story[i]].pictures);">
                                        <div class="icon d-flex justify-content-center align-items-center">
                                            <span class="icon-link"></span>
                                        </div>
                                    </a>
                                    <div class="text p-3">
                                        <div class="d-flex">
                                            <div class="one">
                                                <h3>
                                                    <a href='../Blog/BlogDetail?BlogId=@ViewBag.AllBlogs[story[i]].story_id'>
                                                        @ViewBag.AllBlogs[story[i]].title
                                                    </a>
                                                </h3>
                                            </div>
                                        </div>
                                        <p><b>@ViewBag.AllBlogs[story[i]].user_id</b></p>
                                        <hr>
                                        <p class="bottom-area d-flex">
                                            @ViewBag.AllBlogs[story[i]].times
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            }
        </div>
    </div>
</section>


<!--===== POSTS ======-->
<section class="ftco-section testimony-section"  style="background-image: url(../images/Favor_bg.jpg);">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                <h2 class="mb-4">旅行故事</h2>
                @{ 
                    if (!(ViewBag.AllBlogs != null && ViewBag.AllBlogs.Length >= 1))
                    {
                        <p>
                            这里还没有旅行故事哦~成为第一个发布故事的人吧~
                        </p>
                    }
                 }
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel ftco-owl">
                    <!-- 一块信息 --
    <div class="item">
        <div class="testimony-wrap p-4 pb-5">
            <div class="user-img mb-5" style="background-image: url(../images/person_1.jpg)">
                <span class="quote d-flex align-items-center justify-content-center">
                    <i class="icon-quote-left"></i>
                </span>
            </div>
            <div class="text">
                <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Mark Web</p>
                <span class="position">Marketing Manager</span>
            </div>
        </div>
    </div>
    <!-- 一块信息结束 -->
                    @{
                        if (ViewBag.AllBlogs != null)
                        {
                            for (int j = 0; j < ViewBag.AllBlogs.Length; j++)
                            {
                                <div class="item">
                                    <div class="testimony-wrap p-4 pb-5">
                                        <a href='../Blog/BlogDetail?BlogId=@ViewBag.AllBlogs[j].story_id'>
                                            <div class="user-img mb-5" style="background-image: url(@ViewBag.AllBlogs[j].pictures);"></div>
                                            <div class="text">
                                                <p class="mb-5"></p>
                                                <p class="name">@ViewBag.AllBlogs[j].title</p>
                                                <span class="position">@ViewBag.AllBlogs[j].user_id</span>
                                                <span class="position">@ViewBag.AllBlogs[j].times</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            }
                        }
                    }
                    @*
        for (int j = 0; j < ViewBag.AllBlogs.Length; j++)
        {
        <div class="posts">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <img src="@ViewBag.AllBlogs[j].pictures" alt="" />
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h3>@ViewBag.AllBlogs[j].title</h3>
                <h5><span class="post_author">@ViewBag.AllBlogs[j].user_id</span><span class="post_date">@ViewBag.AllBlogs[j].times</span></h5>
                <p>@ViewBag.AllBlogs[j].content_s</p>
                <a href='../Blog/BlogDetail?BlogId=@ViewBag.AllBlogs[j].story_id' class="link-btn">Read more</a>
            </div>
        </div>
        }
                    *@

                </div>
            </div>
        </div>
    </div>
</section>
