
@{
    ViewBag.Title = "体验活动详情";
}
<script>
    $(document).ready(function () {

        var productID = "@ViewBag.productID";

            if (productID == "-1") {
                alert("未知产品ID!");
                window.location.href = "/Home";
            }
    })
    function add(productID) {
        $.ajax({
            type: "post",
            url: "../Activity/AddFavourites",
            data: {
                productID: productID
            },
            async: false,
            dataType: 'json',
            success: function (d) {
                var addState = d.isSuccess;
                if (addState == true) {//登录成功  
                    console.log(d);
                    alert(d.message);
                }
                else {
                    //登录失败                
                    console.log(d);
                    alert(d.message);
                }
            },
            error: function (a) {
                console.log(a);
                alert(a.message);
            }
        });
    }
</script>

<link rel="stylesheet" href="~/Content/Activity/style.css" />
<link rel="stylesheet" href="~/Content/Activity/responsive.css" />


<div class="hero-wrap js-fullheight" style="background-image: url('../../images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                    <span class="mr-2"> @Html.ActionLink("主页", "Index", "Home")</span>
                    <span class="mr-2"> @Html.ActionLink("活动", "Index", "Activity")</span>
                </p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">体验详情</h1>
            </div>
        </div>
    </div>
</div>

<section class="blog_area single-post-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post row">
                    <!-- 图片 -->
                    <div class="col-lg-12">
                        <div class="feature-img">
                            <img id="picture" class="img-fluid" src="@ViewBag.ActivityDetail.activity_pictures" alt="">
                        </div>
                    </div>
                    <!-- END -->
                    <!-- 最左栏 -->
                    <div class="col-lg-3  col-md-3">
                        <div class="blog_info text-right">
                            <ul class="blog_meta list_style">
                                <li><b id="place">地点：@ViewBag.ActivityDetail.address</b></li>
                                <li><b>人数限制：<span id="max">@ViewBag.ActivityDetail.max_member_limit</span></b></li>
                            </ul>
                        </div>
                    </div>
                    <!-- END -->
                    <!-- 主区域 -->
                    <div class="col-lg-9 col-md-9 blog_details">
                        <h2 id="act-title">@ViewBag.ActivityDetail.activity_name</h2>
                        <br />
                        <hr />
                        <br />
                        <p id="act-content" class="excert">
                            @ViewBag.ActivityDetail.act_content
                        </p>
                        <br />
                        <hr />
                    </div>
                    <!-- END -->
                    <!-- 评价 -->
                    <div class="comments-area">
                        <h4>参与者评价</h4>
                        <!-- 一个评价 -->
                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img style="width:60px; height:60px;" src="@ViewBag.Publisher.head_icon" alt="">
                                    </div>
                                    <div class="desc">
                                        <h5 >Emilly Blunt</h5>
                                        <!-- <p class="date">December 4, 2017 at 3:12 pm </p> -->
                                        <p class="comment">
                                            Never say goodbye till the end comes!
                                            Never say goodbye till the end comes!
                                            Never say goodbye till the end comes!
                                            Never say goodbye till the end comes!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END -->
                    </div>
                    <!-- END -->
                </div>
            </div>
            <!-- 发起人介绍 -->
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget author_widget">
                        <img id="avatar" class="author_img rounded-circle col-lg-4" src="@ViewBag.Publisher.head_icon" alt="">
                        <h4 id="name" style="margin-top:10px;">@ViewBag.Publisher.first_name@ViewBag.Publisher.last_name</h4>
                        <p style="margin-top:10px">体验达人</p>
                        <p id="introduction" style="margin-top:10px;">
                            @ViewBag.Publisher.self_introduction
                        </p>
                        <p id="contactway" style="margin-top:10px">
                            联系方式:@ViewBag.Publisher.phone_number
                        </p>
                        <p id="language" style="margin-top:10px">
                            沟通语言:@ViewBag.Publisher.main_language
                        </p>
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget post_category_widget">
                        <a onclick="add(@ViewBag.ActivityDetail.activity_id)"><h4 class="widget_title">添加至心愿单</h4></a>
                    </aside>
                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title" style="margin-top:10px">选择预定时间</h4>
                            <ul class="list_style cat-list">
                                <!-- 一个活动时间 -->
                                @{
                                    if (ViewBag.activityInstance == null)
                                    {
                                        <li><a class="d-flex justify-content-between">当前体验活动无活动实例</a></li>
                                    }
                                    else
                                    {
                                        int count = 0;
                                        for (int i = 0; i < ViewBag.activityInstance.Length; i++)
                                        {
                                            var bookstate = ViewBag.activityInstance[i].is_booked;
                                            if (bookstate == 0)
                                            {
                                                <li>
                                                    <!-- 跳转到订单界面 -->
                                                    <a href="@Url.Action("Index","Order",new{productID =ViewBag.activityInstance[i].activity_id, accessWay = 2})" class="d-flex justify-content-between">
                                                        <p>@ViewBag.activityInstance[i].start_time.ToString("yyyy-MM-dd")-@ViewBag.activityInstance[i].end_time.ToString("yyyy-MM-dd")</p>
                                                        <p>￥@ViewBag.activityInstance[i].price</p>
                                                    </a>
                                                </li>
                                                count++;
                                            }

                                        }
                                        if (count == 0)
                                        {
                                            <li><a class="d-flex justify-content-between">当前体验活动无活动实例,无法预定</a></li>

                                        }
                                    }
                                }

                                <!-- END -->
                            </ul>
                            <div class="br"></div>
                        </aside>
                        <aside class="single-sidebar-widget newsletter_widget">
                            <div class="quotes">
                                <h4>活动注意事项</h4>
                                <div id="awareness">
                                    @ViewBag.ActivityDetail.note
                                </div>
                                <br />
                                <h4>取消预订政策</h4>
                                <div id="cancel">
                                    @ViewBag.ActivityDetail.cancellation_policy
                                </div>
                            </div>
                            <div class="br"></div>
                        </aside>
                </div>
            </div>
            <!-- END -->
        </div>
    </div>
</section>

